html {
    font-size: 12px;
  }
body {
    background-color: #EEE;
    padding: 0; margin: 0;
    font-family: "Source Sans Pro", "Arial", "Sans-serif";
}

/*шапка сайта*/
.header{
    width:100%; height: 60px;
    background-color: #66CDAA; /*#66CDAA;*/
    box-sizing: border-box;
    padding: 0 10px 0 10px;
}       

.logo-block{ 
    float:left;    
    position: relative;
}
.logo-block h1{
    float: left;
    position: relative;
    top: -8px; left: 0;
}
.logo-block img{}
.logo-block h3{
    clear: both;
    position: absolute;
    top: 30px; left: 0;
    font-size: 0.9rem;
}        
                    
.menu{}
.menu .item{
    float:right;
    height: 60px;
    line-height: 60px;
    margin: 0 10px 0 10px;
    font-size: 1.3rem;
}

/*основное поле с картой и пользовательским интерфейсом*/
.desk{
    position: absolute; 
    z-index: 1;
    top:60px; bottom:0; left:0; right: 0; margin: auto;
}

#map{
    width: 100%; height: 100%;
}  

/*интерфейс поиска маршрута*/
#interface{
    position: absolute;
    z-index: 2;
    top: 5px; left: 5px;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 5px 17px -3px rgba(0,0,0,0.5);    
    background-color: #000;
    opacity: 0.5;
}
.user-input{
    width: 100%;
    margin: 0 0 10px 0;
}
.user-input input[type="text"]{
    width: 98%;
    background-color: white;
}
.user-input .a-option{
    width:100%;
    background-color: yellow;
    box-sizing:border-box; 
    padding: 5px;
    border-bottom: 1px solid #444;
}

@media only screen and (max-width: 600px){
    #interface {
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
    }
}