<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/favicon_skateicon2.png" type="image/png">
    <title>Open Skate Map</title>
    <!-- карта -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />

</head>
<body>
    <div class="header">        
        <div class="logo-block">
            <h1>OpenSkateMap</h1>
            <img src="img/skateboard.png">
            <h3>Тайные тропы твоего города</h3>
        </div>
                    
        <div class="menu">
            <div class="item">Правка</div>
            <div class="item">О проекте</div>
        </div>
    </div>

    <div class="desk">
        <div id="map"></div>
        
        <div id="interface">                                            
            <address-select
                v-for="i in inputData" 
                v-bind:placeholder="i.placeholder"       
                v-bind:lng="i.lng" 
                v-bind:lat="i.lat"
                v-bind:id="i.id"                 
            ></address-select>
            
            <label for="go">
                <button v-on:click="doroute" id="go">Построить маршрут</button>
            </label>
        </div>           
    </div>
       
    <!-- =============================================== -->
    <!-- прочие -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>

    <script src="scripts/polyline.js"></script>  <!-- from https://github.com/mapbox/polyline -->

    <script type="text/javascript" src="scripts/geocode.js"></script>
    <script type="text/javascript" src="scripts/routs.js"></script>
    <script type="text/javascript" src="scripts/map.js"></script>
    
    <link rel="stylesheet" type="text/css" href="style.css">
    
</body>
</html>



